body{
    font-family: 'Droid Arabic Kufi' !important;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Droid Arabic Kufi' !important;
}
.bootstrap-tagsinput{
    display: block !important;
}
.bootstrap-tagsinput input {
    width: 15em !important;
}